/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: rgb(252,249,249);
    background: linear-gradient(236deg, rgba(252,249,249,1) 4%, rgba(159,160,173,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #6a89cc;
}

label {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 14px;
    color: #aaa;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -12px;
    left: 10px;
    font-size: 12px;
    color: #6a89cc;
    background-color: white;
    padding: 0 5px;
}

.login-btn {
    background-color: #6a89cc;
    border: none;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #4a69bd;
}

.signup-text {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.signup-text a {
    color: #6a89cc;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}
